main {
    padding: 36px;
}
.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}

.form-button {
    grid-column: 1 / -1;
}

.form-input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid D5D4D8;
    text-indent: 10px;
}

.form-button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background:  linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    color: white;
    border: none;
    cursor: pointer;
}

.meme-image{
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    max-width: 80%;
}
